#---------------
# NECESSARY
#---------------
API_URL=
API_KEY_PRIVADA=
#---------------
# OPTIONAL
#---------------
VITE_APP_NAME=Job Tracker V2
MOCK_API=false
VITE_ALLOWED_HOSTS=localhost,127.0.0.1,.ngrok-free.app

VITE_POLLING_INTERVAL=5000
VITE_ENABLE_PHOTO_POLLING=false
